/*
    DJANGO Admin styles
*/

<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
=======
@import url(fonts.css);

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
    color: #333;
    background: #fff;
}

/* LINKS */

a:link, a:visited {
<<<<<<< HEAD
    color: #5b80b2;
    text-decoration: none;
}

a:hover {
    color: #036;
}

=======
    color: #447e9b;
    text-decoration: none;
}

a:focus, a:hover {
    color: #036;
}

a:focus {
    text-decoration: underline;
}

>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
a img {
    border: none;
}

a.section:link, a.section:visited {
    color: #fff;
    text-decoration: none;
}

<<<<<<< HEAD
=======
a.section:focus, a.section:hover {
    text-decoration: underline;
}

>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
<<<<<<< HEAD
    font-size: 18px;
    color: #666;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
=======
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 20px;
    color: #666;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

h2 {
    font-size: 16px;
    margin: 1em 0 .5em 0;
}

h2.subhead {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    font-size: 14px;
    margin: .8em 0 .3em 0;
    color: #666;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 10px;
    margin: 1.5em 0 .5em 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul li {
    list-style-type: square;
    padding: 1px 0;
}

<<<<<<< HEAD
ul.plainlist {
    margin-left: 0 !important;
}

ul.plainlist li {
    list-style-type: none;
}

=======
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
li ul {
    margin-bottom: 0;
}

li, dt, dd {
<<<<<<< HEAD
    font-size: 11px;
    line-height: 14px;
=======
    font-size: 13px;
    line-height: 20px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
=======
    border: none;
    border-top: 1px solid #eee;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

blockquote {
    font-size: 11px;
    color: #777;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

code, pre {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: #666;
<<<<<<< HEAD
    font-size: 11px;
=======
    font-size: 12px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

pre.literal-block {
    margin: 10px;
    background: #eee;
    padding: 6px 8px;
}

code strong {
    color: #930;
}

hr {
    clear: both;
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
}

/* TEXT STYLES & MODIFIERS */

.small {
    font-size: 11px;
}

.tiny {
    font-size: 10px;
}

p.tiny {
    margin-top: -2px;
}

.mini {
<<<<<<< HEAD
    font-size: 9px;
=======
    font-size: 10px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

p.mini {
    margin-top: -3px;
}

<<<<<<< HEAD
.help, p.help {
    font-size: 10px !important;
    color: #999;
}

img.help-tooltip {
=======
.help, p.help, form p.help, div.help, form div.help, div.help li {
    font-size: 11px;
    color: #999;
}

div.help ul {
     margin-bottom: 0;
}

.help-tooltip {
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
    cursor: help;
}

p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.quiet, a.quiet:link, a.quiet:visited {
<<<<<<< HEAD
    color: #999 !important;
    font-weight: normal !important;
}

.quiet strong {
    font-weight: bold !important;
=======
    color: #999;
    font-weight: normal;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.example {
    margin: 10px 0;
    padding: 5px 10px;
    background: #efefef;
}

.nowrap {
    white-space: nowrap;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
<<<<<<< HEAD
    font-size: 11px;
    line-height: 13px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
=======
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 8px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    font-weight: 600;
    text-align: left;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

thead th,
tfoot td {
    color: #666;
<<<<<<< HEAD
    padding: 2px 5px;
    font-size: 11px;
    background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
=======
    padding: 5px 10px;
    font-size: 11px;
    background: #fff;
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

tfoot td {
    border-bottom: none;
<<<<<<< HEAD
    border-top: 1px solid #ddd;
}

thead th:first-child,
tfoot td:first-child {
    border-left: none !important;
}

thead th.optional {
    font-weight: normal !important;
}

fieldset table {
    border-right: 1px solid #eee;
}

tr.row-label td {
    font-size: 9px;
    padding-top: 2px;
    padding-bottom: 0;
    border-bottom: none;
    color: #666;
    margin-top: -1px;
=======
    border-top: 1px solid #eee;
}

thead th.required {
    color: #000;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

tr.alt {
    background: #f6f6f6;
}

.row1 {
<<<<<<< HEAD
    background: #EDF3FE;
}

.row2 {
    background: #fff;
=======
    background: #fff;
}

.row2 {
    background: #f9f9f9;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

/* SORTABLE TABLES */

thead th {
<<<<<<< HEAD
    padding: 2px 5px;
    line-height: normal;
=======
    padding: 5px 10px;
    line-height: normal;
    text-transform: uppercase;
    background: #f6f6f6;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

thead th a:link, thead th a:visited {
    color: #666;
}

thead th.sorted {
<<<<<<< HEAD
    background: #c5c5c5 url(../img/nav-bg-selected.gif) top left repeat-x;
=======
    background: #eee;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

thead th.sorted .text {
    padding-right: 42px;
}

table thead th .text span {
<<<<<<< HEAD
    padding: 2px 5px;
    display:block;
=======
    padding: 8px 10px;
    display: block;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

table thead th .text a {
    display: block;
    cursor: pointer;
<<<<<<< HEAD
    padding: 2px 5px;
}

table thead th.sortable:hover {
    background: #fff url(../img/nav-bg-reverse.gif) 0 -5px repeat-x;
=======
    padding: 8px 10px;
}

table thead th .text a:focus, table thead th .text a:hover {
    background: #eee;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

thead th.sorted a.sortremove {
    visibility: hidden;
}

table thead th.sorted:hover a.sortremove {
    visibility: visible;
}

table thead th.sorted .sortoptions {
    display: block;
<<<<<<< HEAD
    padding: 4px 5px 0 5px;
=======
    padding: 9px 5px 0 5px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
    float: right;
    text-align: right;
}

table thead th.sorted .sortpriority {
    font-size: .8em;
    min-width: 12px;
    text-align: center;
<<<<<<< HEAD
    vertical-align: top;
}

table thead th.sorted .sortoptions a {
    width: 14px;
    height: 12px;
    display: inline-block;
}

table thead th.sorted .sortoptions a.sortremove {
    background: url(../img/sorting-icons.gif) -4px -5px no-repeat;
}

table thead th.sorted .sortoptions a.sortremove:hover {
    background: url(../img/sorting-icons.gif) -4px -27px no-repeat;
}

table thead th.sorted .sortoptions a.ascending {
    background: url(../img/sorting-icons.gif) -5px -50px no-repeat;
}

table thead th.sorted .sortoptions a.ascending:hover {
    background: url(../img/sorting-icons.gif) -5px -72px no-repeat;
}

table thead th.sorted .sortoptions a.descending {
    background: url(../img/sorting-icons.gif) -5px -94px no-repeat;
}

table thead th.sorted .sortoptions a.descending:hover {
    background: url(../img/sorting-icons.gif) -5px -115px no-repeat;
}

/* ORDERABLE TABLES */

table.orderable tbody tr td:hover {
    cursor: move;
}

table.orderable tbody tr td:first-child {
    padding-left: 14px;
    background-image: url(../img/nav-bg-grabber.gif);
    background-repeat: repeat-y;
}

table.orderable-initalized .order-cell, body>tr>td.order-cell {
    display: none;
=======
    vertical-align: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

table thead th.sorted .sortoptions a {
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../img/sorting-icons.svg) 0 0 no-repeat;
    background-size: 14px auto;
}

table thead th.sorted .sortoptions a.sortremove {
    background-position: 0 0;
}

table thead th.sorted .sortoptions a.sortremove:after {
    content: '\\';
    position: absolute;
    top: -6px;
    left: 3px;
    font-weight: 200;
    font-size: 18px;
    color: #999;
}

table thead th.sorted .sortoptions a.sortremove:focus:after,
table thead th.sorted .sortoptions a.sortremove:hover:after {
    color: #447e9b;
}

table thead th.sorted .sortoptions a.sortremove:focus,
table thead th.sorted .sortoptions a.sortremove:hover {
    background-position: 0 -14px;
}

table thead th.sorted .sortoptions a.ascending {
    background-position: 0 -28px;
}

table thead th.sorted .sortoptions a.ascending:focus,
table thead th.sorted .sortoptions a.ascending:hover {
    background-position: 0 -42px;
}

table thead th.sorted .sortoptions a.descending {
    top: 1px;
    background-position: 0 -56px;
}

table thead th.sorted .sortoptions a.descending:focus,
table thead th.sorted .sortoptions a.descending:hover {
    background-position: 0 -70px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

/* FORM DEFAULTS */

input, textarea, select, .form-row p, form .button {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
<<<<<<< HEAD
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

textarea {
    vertical-align: top !important;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number],
textarea, select, .vTextField {
    border: 1px solid #ccc;
=======
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
}
.form-row div.help {
    padding: 2px 3px;
}

textarea {
    vertical-align: top;
}

input[type=text], input[type=password], input[type=email], input[type=url],
input[type=number], textarea, select, .vTextField {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=url]:focus, input[type=number]:focus, textarea:focus, select:focus,
.vTextField:focus {
    border-color: #999;
}

select {
    height: 30px;
}

select[multiple] {
    min-height: 150px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

/* FORM BUTTONS */

.button, input[type=submit], input[type=button], .submit-row input, a.button {
<<<<<<< HEAD
    background: #fff url(../img/nav-bg.gif) bottom repeat-x;
    padding: 3px 5px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
=======
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

a.button {
    padding: 4px 5px;
}

<<<<<<< HEAD
.button:active, input[type=submit]:active, input[type=button]:active {
    background-image: url(../img/nav-bg-reverse.gif);
    background-position: top;
}

.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    background-image: url(../img/nav-bg.gif);
    background-position: bottom;
=======
.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #609ab6;
}

.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
    opacity: 0.4;
}

.button.default, input[type=submit].default, .submit-row input.default {
<<<<<<< HEAD
    border: 2px solid #5b80b2;
    background: #7CA0C7 url(../img/default-bg.gif) bottom repeat-x;
    font-weight: bold;
    color: #fff;
    float: right;
}

.button.default:active, input[type=submit].default:active {
    background-image: url(../img/default-bg-reverse.gif);
    background-position: top;
}

.button[disabled].default, input[type=submit][disabled].default, input[type=button][disabled].default {
    background-image: url(../img/default-bg.gif);
    background-position: bottom;
=======
    float: right;
    border: none;
    font-weight: 400;
    background: #417690;
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #205067;
}

.button[disabled].default,
input[type=submit][disabled].default,
input[type=button][disabled].default {
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
    opacity: 0.4;
}


/* MODULES */

.module {
<<<<<<< HEAD
    border: 1px solid #ccc;
    margin-bottom: 5px;
=======
    border: none;
    margin-bottom: 30px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
    background: #fff;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
}

.module blockquote {
    margin-left: 12px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
<<<<<<< HEAD
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/default-bg.gif) top left repeat-x;
    color: #fff;
}

=======
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #79aec8;
    color: #fff;
}

.module caption,
.inline-group h2 {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
.module table {
    border-collapse: collapse;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0;
    margin: 0;
}

ul.messagelist li {
<<<<<<< HEAD
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 5px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #dfd url(../img/icon_success.gif) 5px .3em no-repeat;
}

ul.messagelist li.warning {
    background: #ffc url(../img/icon_alert.gif) 5px .3em no-repeat;
}

ul.messagelist li.error {
    background: #ffefef url(../img/icon_error.gif) 5px .3em no-repeat;
}

.errornote {
    font-size: 12px !important;
    font-weight: bold;
    display: block;
    padding: 5px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid #c22;
    color: #c11;
    background: #ffefef url(../img/icon_error.gif) 5px .38em no-repeat;
}

.errornote, ul.errorlist {
    border-radius: 1px;
}

ul.errorlist {
    margin: 0 0 4px !important;
    padding: 0 !important;
    color: #fff;
    background: #c11;
}

ul.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 5px 5px 4px 7px;
    margin: 3px 0 0 0;
=======
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;
    color: #333;
}

ul.messagelist li.warning {
    background: #ffc url(../img/icon-alert.svg) 40px 14px no-repeat;
    background-size: 14px auto;
}

ul.messagelist li.error {
    background: #ffefef url(../img/icon-no.svg) 40px 12px no-repeat;
    background-size: 16px auto;
}

.errornote {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: #ba2121;
    border: 1px solid #ba2121;
    border-radius: 4px;
    background-color: #fff;
    background-position: 5px 12px;
}

ul.errorlist {
    margin: 0 0 4px;
    padding: 0;
    color: #ba2121;
    background: #fff;
}

ul.errorlist li {
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

ul.errorlist li:first-child {
    margin-top: 0;
}

ul.errorlist li a {
<<<<<<< HEAD
    color: #fff;
=======
    color: inherit;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
    text-decoration: underline;
}

td ul.errorlist {
<<<<<<< HEAD
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.errors, .form-row.errors {
    background: #ffefef;
}

.form-row.errors {
    border: 1px solid #c22;
    margin: -1px;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid #c11;
=======
    margin: 0;
    padding: 0;
}

td ul.errorlist li {
    margin: 0;
}

.form-row.errors {
    margin: 0;
    border: none;
    border-bottom: 1px solid #eee;
    background: none;
}

.form-row.errors ul.errorlist li {
    padding-left: 0;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid #ba2121;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

div.system-message {
    background: #ffc;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: #c11;
<<<<<<< HEAD
    background: #ffefef url(../img/icon_error.gif) 5px .3em no-repeat;
=======
    background: #ffefef url(../img/icon-no.svg) 5px 5px no-repeat;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}

/* BREADCRUMBS */

div.breadcrumbs {
<<<<<<< HEAD
    background: #fff url(../img/nav-bg-reverse.gif) 0 -10px repeat-x;
    padding: 2px 8px 3px 8px;
    font-size: 11px;
    color: #999;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* ACTION ICONS */

.addlink {
    padding-left: 12px;
    background: url(../img/icon_addlink.gif) 0 .2em no-repeat;
}

.changelink, .inlinechangelink {
    padding-left: 12px;
    background: url(../img/icon_changelink.gif) 0 .2em no-repeat;
}

.deletelink {
    padding-left: 12px;
    background: url(../img/icon_deletelink.gif) 0 .25em no-repeat;
=======
    background: #79aec8;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
}

div.breadcrumbs a {
    color: #fff;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #c4dce8;
}

/* ACTION ICONS */

.addlink {
    padding-left: 16px;
    background: url(../img/icon-addlink.svg) 0 1px no-repeat;
}

.changelink, .inlinechangelink {
    padding-left: 16px;
    background: url(../img/icon-changelink.svg) 0 1px no-repeat;
}

.deletelink {
    padding-left: 16px;
    background: url(../img/icon-deletelink.svg) 0 1px no-repeat;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

a.deletelink:link, a.deletelink:visited {
    color: #CC3434;
}

<<<<<<< HEAD
a.deletelink:hover {
    color: #993333;
=======
a.deletelink:focus, a.deletelink:hover {
    color: #993333;
    text-decoration: none;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

/* OBJECT TOOLS */

.object-tools {
    font-size: 10px;
    font-weight: bold;
<<<<<<< HEAD
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -2.4em;
    margin-bottom: -2em;
=======
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -48px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

.form-row .object-tools {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    height: 2em;
    padding-left: 3.5em;
}

.object-tools li {
    display: block;
    float: left;
    margin-left: 5px;
    height: 16px;
}

.object-tools a {
    border-radius: 15px;
}

.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
<<<<<<< HEAD
    color: #fff;
    padding: .2em 10px;
    background: #999;
}

.object-tools a:hover, .object-tools li:hover a {
    background-color: #5b80b2;
}

.object-tools a.viewsitelink, .object-tools a.golink {
    background: #999 url(../img/tooltag-arrowright.png) 95% center no-repeat;
    padding-right: 26px;
}

.object-tools a.addlink {
    background: #999 url(../img/tooltag-add.png) 95% center no-repeat;
    padding-right: 26px;
=======
    padding: 3px 12px;
    background: #999;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
}

.object-tools a:focus, .object-tools a:hover {
    background-color: #417690;
}

.object-tools a:focus{
    text-decoration: none;
}

.object-tools a.viewsitelink, .object-tools a.golink,.object-tools a.addlink {
    background-repeat: no-repeat;
    background-position: right 7px center;
    padding-right: 26px;
}

.object-tools a.viewsitelink, .object-tools a.golink {
    background-image: url(../img/tooltag-arrowright.svg);
}

.object-tools a.addlink {
    background-image: url(../img/tooltag-add.svg);
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

/* OBJECT HISTORY */

table#change-history {
    width: 100%;
}

table#change-history tbody th {
    width: 16em;
}

/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
<<<<<<< HEAD
    min-width: 760px;
=======
    min-width: 980px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
    padding: 0;
}

#content {
<<<<<<< HEAD
    margin: 10px 15px;
=======
    padding: 20px 40px;
}

.dashboard #content {
    width: 600px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

#content-main {
    float: left;
    width: 100%;
}

#content-related {
    float: right;
<<<<<<< HEAD
    width: 18em;
    position: relative;
    margin-right: -19em;
=======
    width: 260px;
    position: relative;
    margin-right: -300px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

#footer {
    clear: both;
    padding: 10px;
}

/* COLUMN TYPES */

.colMS {
<<<<<<< HEAD
    margin-right: 20em !important;
}

.colSM {
    margin-left: 20em !important;
=======
    margin-right: 300px;
}

.colSM {
    margin-left: 300px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

.colSM #content-related {
    float: left;
    margin-right: 0;
<<<<<<< HEAD
    margin-left: -19em;
=======
    margin-left: -300px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

.colSM #content-main {
    float: right;
}

.popup .colM {
<<<<<<< HEAD
    width: 95%;
}

.subcol {
    float: left;
    width: 46%;
    margin-right: 15px;
}

.dashboard #content {
    width: 500px;
=======
    width: auto;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

/* HEADER */

#header {
<<<<<<< HEAD
    width: 100%;
    background: #417690;
=======
    width: auto;
    height: 40px;
    padding: 10px 40px;
    background: #417690;
    line-height: 40px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
    color: #ffc;
    overflow: hidden;
}

#header a:link, #header a:visited {
    color: #fff;
}

<<<<<<< HEAD
#header a:hover {
=======
#header a:focus , #header a:hover {
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
    text-decoration: underline;
}

#branding {
    float: left;
}
<<<<<<< HEAD
#branding h1 {
    padding: 0 10px;
    font-size: 18px;
    margin: 8px 0;
    font-weight: normal;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #f4f379;
=======

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 24px;
    color: #f5dd5d;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #f5dd5d;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}

#branding a:hover {
    text-decoration: none;
}

#user-tools {
    float: right;
<<<<<<< HEAD
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
}

/* SIDEBAR */

#content-related h3 {
    font-size: 12px;
    color: #666;
    margin-bottom: 3px;
}

#content-related h4 {
    font-size: 11px;
}

#content-related .module h2 {
    background: #eee url(../img/nav-bg.gif) bottom left repeat-x;
    color: #666;
=======
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
}

#user-tools a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: #79aec8;
    color: #79aec8;
}

/* SIDEBAR */

#content-related {
    background: #f8f8f8;
}

#content-related .module {
    background: none;
}

#content-related h3 {
    font-size: 14px;
    color: #666;
    padding: 0 16px;
    margin: 0 0 16px;
}

#content-related h4 {
    font-size: 13px;
}

#content-related p {
    padding-left: 16px;
    padding-right: 16px;
}

#content-related .actionlist {
    padding: 0;
    margin: 16px;
}

#content-related .actionlist li {
    line-height: 1.2;
    margin-bottom: 10px;
    padding-left: 18px;
}

#content-related .module h2 {
    background: none;
    padding: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eaeaea;
    font-size: 18px;
    color: #333;
}

.delete-confirmation form input[type="submit"] {
    background: #ba2121;
    border-radius: 4px;
    padding: 10px 15px;
    color: #fff;
}

.delete-confirmation form input[type="submit"]:active,
.delete-confirmation form input[type="submit"]:focus,
.delete-confirmation form input[type="submit"]:hover {
    background: #a41515;
}

.delete-confirmation form .cancel-link {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    line-height: 15px;
    background: #ddd;
    border-radius: 4px;
    padding: 10px 15px;
    color: #333;
    margin: 0 0 0 10px;
}

.delete-confirmation form .cancel-link:active,
.delete-confirmation form .cancel-link:focus,
.delete-confirmation form .cancel-link:hover {
    background: #ccc;
}

/* POPUP */
.popup #content {
    padding: 20px;
}

.popup #container {
    min-width: 0;
}

.popup #header {
    padding: 10px 20px;
>>>>>>> cf71fd562359847a78e93f945f9285ac075ea60e
}
